<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1301.v054d9cea_9593">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2133.ve46a_6113dfc3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2133.ve46a_6113dfc3">
      <jobProperties/>
      <triggers>
        <string>hudson.triggers.SCMTrigger</string>
      </triggers>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>false</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.37.1">
      <projectUrl>https://github.com/JINU-CHANG/2023-1-OSSPrac-Momentum-2/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>*/3 * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3668.v1763b_b_6ccffd">
    <script>pipeline {
    agent any
    
    triggers {
        pollSCM(&apos;*/3 * * * *&apos;)
    }
    
    environment {
        DOCKER = credentials(&apos;docker-hub&apos;)
    }
    
    stages {
        stage(&apos;Prepare&apos;) {
            agent any
            
            steps {
                git url :&apos;https://github.com/JINU-CHANG/2023-1-OSSPrac-Momentum-2&apos;,
                branch:&apos;main&apos;,
                credentialsId: &apos;github&apos;
            }
        }
        
        stage(&apos;Build&apos;) {
            steps {
                sh &apos;docker-compose build hw5&apos;
            }
        }
        
        stage(&apos;Tag&apos;) {
            steps {
                script {
                    sh &quot;docker tag ${DOCKER_USR}/momentum ${DOCKER_USR}/momentum:${BUILD_NUMBER}&quot;
                }
            }
        }
        
        stage(&apos;Push&apos;) {
            steps {
                script {
                    sh &quot;docker login -u ${DOCKER_USR} -p ${DOCKER_PWS}&quot;
                    sh &quot;docker push ${DOCKER_USR}/momentum:${BUILD_NUMBER}&quot;
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>